<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do Learn</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="..\static\load.css">
    <script src="..\static\load.js"></script>
    <link rel="icon" href="..\static\logo.png" type="image/x-icon">
</head>
<body onload="moveobject()">
    <div class="titlebar">
        <p1 class="logo">
            DO-LEARN
        </p1>
    
        <p2>
            <a class="home" href="..\templates\load.html">HOME</a>
        </p2>
        <p3>
            <a class="jee" href="..\templates\jee.html">ABOUT JEE</a>

        </p3>
        <p4>
            <a  class="test" href="..\templates\test.html">LIVE TEST</a>
        </p4>
    
        <p5 class="learn">
            LEARN CONCEPTS
        </p5>
    </div>

    <div id="mock">
        <a href="..\templates\test.html">**Attend ongoing mock tests**</a>
    </div>

    <div class="abcontent">
        JEE Main is a standardised test conducted across different states in India. The exam is held at an undergraduate level to offer admissions to some of the best engineering and technical institutions that are Government funded or privately-owned.

        JEE Main 2024 is generally conducted for three groups of aspirants:

        Paper 1 is for students aspiring to take up B.E. or B. Tech. courses.
        Paper 2A is for students aspiring to take up B. Arch. course.
        Paper 2B is for students aspiring to take a B. Planning course. 
        JEE Main 2024 will be conducted in two sessions, one in January and one in April.

        Questions that appear in the JEE Main are mostly NCERT based. However, it is known for its tricky questions designed to test the candidate’s understanding of the concepts and analytical skills.<br>
        <br>
        JEE Main or JEE Main 2024 is the first phase of the IIT Joint Entrance Exam (IIT JEE). It is a computer-based online test conducted by the National Testing Agency for students aspiring to pursue undergraduate courses in India in top engineering institutes, such as IITs, NITs, etc. Thus, students are granted admission to IITs, CFTIs, NITs, and other Government funded technical institutes based on the marks obtained in the JEE Main. The exam conducting authority considers the best NTA score in preparing the ranks/merit list. Candidates could further opt to appear for one exam or all the exams. Also, the top 2,50,000 students from the JEE Main will qualify to appear for the JEE Advanced. 
    </div>
    <table class="table-bordered">
        <tbody>
        <tr>
            <td><b>Name of Exam</b></td>
            <td><b>JEE Main</b></td>
        </tr>
        <tr>
            <td>Exam Duration</td>
            <td>3 Hours</td>
        </tr>
        <tr>
            <td>Total Marks</td>
            <td>300 Marks</td>
        </tr>
        <tr>
        <td>Total Sessions in 2024</td>
        <td>Two Sessions</td>
        </tr>
        <tr>
        <td>Exam Medium</td>
        <td>13 Languages</td>
        </tr>
        <tr>
        <td>Examination Category</td>
        <td>Undergraduate Level Exam</td>
        </tr>
        <tr>
        <td>Exam Conducting Authority</td>
        <td>NTA (National Testing Agency)</td>
        </tr>
        <tr>
        <td>Purpose</td>
        <td>Admissions to 23 IITs, 31 NITs, 26 IIITs and 33 GFTIs</td>
        </tr>
        <tr>
        <td>Mode of Examination</td>
        <td>Computer-based</td>
        </tr>
        <tr>
        <td>Test Centres</td>
        <td>The exam centres will be allotted as per the choice of cities of the candidates made in their online Application form. </td>
        </tr>
        <tr>
        <td>JEE Main Official Website</td>
        <td>nta.ac.in</td>
        </tr>
        </tbody>
    </table><br>
    <div class="elig">
        <span style="font-size:28px;font-weight:bold;color: darkblue;"><u>JEE Main Eligibility Criteria</u></span><br><br>
        The JEE Main eligibility criteria for 2024 describe all the terms and conditions that aspirants should satisfy to be eligible for the exam. Hence, to avoid rejection in later stages, the students go through and understand the eligibility criteria before registering for the exam. We have highlighted some of the important ones below.<br><br>

        <b>Age Limit:</b> There is no age limit for candidates who wish to appear for the JEE Main exam. However, candidates must note that the IITs can set age criteria for admissions. The details are usually published in the JEE Main Information Brochure.
        <br><br>
        <b>Qualifying Exam:</b> Irrespective of age, the applicant can qualify if they have cleared their Class 12 or any equivalent exam, such as a two-year Pre-University exam, Joint Services Wing of the National Defence Academy exam, senior secondary school examination, Higher Secondary Certificate Vocational Examination, Intermediate or two-year Pre-University examination, a diploma recognised by the AICTE or a State board, General Certificate Education (GCE) examination (London/Cambridge/Sri Lanka) at the Advanced (A) level, High School Certificate Examination of the Cambridge University or International Baccalaureate Diploma of the International Baccalaureate Office, Geneva.
        <br><br>
        <b>Year:</b> Only those candidates who have passed the Class 12 or equivalent examination in 2021 and 2022 or those who are appearing for it in 2024 are eligible to appear in JEE Main 2024.
        <br><br>
        <b>Qualifying Marks:</b> There is no minimum pass percentage for appearing in the JEE Main exam. However, the applicants must pass their Class 12 board or other equivalent examinations.
        <br><br>
        <b>Number of Attempts:</b> Candidates can appear for the exam for 3 consecutive years<br><br><br>
    </div>
    <div class="reserv">
        <span style="font-size:28px;font-weight:bold;color: darkblue;"><u>JEE Main Reservation Criteria</u></span><br><br>
        The examination authority follows the reservation criteria laid by the Government of India for granting admissions through JEE Main. All India ranks will be provided based on the categorical reservation policy. The percentage reservations of categories for admissions through JEE Main 2024 are as follows:<br>

        <ul style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: rgb(7, 158, 100);">   
            <li>OBC – NCL candidates: 27% reservation</li><br>
            <li>SC candidates: 15% reservation</li><br>
            <li>ST candidates: 7.5% reservation</li><br>
            <li>PwD candidates: 5% reservation</li><br>
            <li>GEN-EWS candidates: 10% reservation</li><br>
           <li> Women candidates: 5% reservation</li>
        </ul> 
        This reservation applies to institutes run by the Central Government. For reservation details regarding a participating institute, candidates can check the details with that particular institute.
    </div>
</body>
</html>