<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do Learn</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="..\static\load.css">
    <script src="..\static\load.js"></script>
    <link rel="icon" href="..\static\logo.png" type="image/x-icon">
</head>
<body onload="moveobject()">
<div class="titlebar">
    <p1 class="logo">
        DO-LEARN
    </p1>

    <p2>
        <a class="home" href="..\templates\load.html">HOME</a>
    </p2>
    <p3>
        <a class="jee" href="..\templates\jee.html">ABOUT JEE</a>
    </p3>
    
    <p4>
        <a  class="test" href="..\templates\test.html">LIVE TEST</a>
    </p4>

    <p5 class="learn">
        LEARN CONCEPTS
    </p5>

</div>
<div id="mock">
    <a href="..\templates\test.html">**Attend ongoing mock tests**</a>
</div>
<div class="whatqa">
    <div class="whatq">
        Competitive exams?
    </div>
    <div class="whata">
        Competitive exams, also known as competitive examinations or entrance exams, are standardized tests conducted to assess the knowledge, skills, and aptitude of candidates for various educational and professional purposes. These exams are used to select candidates for admission to educational institutions, recruitment for government or private sector jobs, or eligibility for scholarships and fellowships.
    </div>
</div>
<div class="eng">
    <div class="infoeng">
        LIST OF TOP ENGINEERING ENTRANCE EXAMS
    </div>
    <div class="'listeng">
        <ul>
            <li class="a">Joint Entrance Examination (JEE) Main</li>
            <li class="a">JEE Advanced</li>
            <li class="a">BITSAT </li>
          </ul>
    </div>
</div>
<div class="med">
    <div class="infomed">
        LIST OF TOP MEDICAL ENTRANCE EXAMS
    </div>
    <div class="'listmed">
        <ul>
            <li class="a">National Eligibility cum Entrance Test (NEET)</li>
            <li class="a">All India Institute of Medical Sciences (AIIMS) Entrance Exam</li>
            <li class="a">JIPMER MBBS Entrance Exam
            </li>
          </ul>
    </div>
</div>
<div class="man">
    <div class="infoman">
        LIST OF TOP MANAGEMENT ENTRANCE EXAMS
    </div>
    <div class="'listman">
        <ul>
            <li class="a">Common Admission Test (CAT)</li>
            <li class="a">Management Aptitude Test (MAT)</li>
            <li class="a">Common Management Admission Test (CMAT) </li>
          </ul>
    </div>
</div>
<div class="law">
    <div class="infolaw">
        LIST OF TOP LAW ENTRANCE EXAMS
    </div>
    <div class="'listlaw">
        <ul>
            <li class="a">Common Law Admission Test (CLAT)</li>
            <li class="a">All India Law Entrance Test (AILET)</li>
          </ul>
    </div>
</div>
<div class="civ">
    <div class="infociv">
        LIST OF TOP CIVIL SERVICE ENTRANCE EXAMS
    </div>
    <div class="'listciv">
        <ul>
            <li class="a">Union Public Service Commission (UPSC) Civil Services Examination</li>
            <li class="a">State Public Service Commission Exams</li>
          </ul>
    </div>
</div>
<div class="ban">
    <div class="infoban">
        LIST OF TOP BANKING ENTRANCE EXAMS
    </div>
    <div class="'listban">
        <ul>
            <li class="a">Institute of Banking Personnel Selection (IBPS) PO, Clerk, and Specialist Officer Exams</li>
            <li class="a">Reserve Bank of India (RBI) Grade B Officer Exam</li>
            <li class="a">State Bank of India (SBI) PO and Clerk Exams</li>
          </ul>
    </div>
</div>
<div class="ssc">
    <div class="infossc">
        LIST OF TOP STAFF SELECTION COMMISSION EXAMS(SSC)
    </div>
    <div class="'listssc">
        <ul>
            <li class="a">Multi-Tasking Staff (MTS) Exam</li>
            <li class="a">Combined Graduate Level (CGL) Exam</li>
            <li class="a">Combined Higher Secondary Level (CHSL) Exam </li>
          </ul>
    </div>
</div>
<div class="rai">
    <div class="inforai">
        LIST OF TOP RAILWAY ENTRANCE EXAMS
    </div>
    <div class="'listrai">
        <ul>
            <li class="a">Railway Recruitment Board Non-Technical Popular Categories (RRB NTPC)</li>
            <li class="a">RRB Group D</li>
          </ul>
    </div>
</div>
<div class="tea">
    <div class="infotea">
        LIST OF TOP TEACHING ENTRANCE EXAMS
    </div>
    <div class="'listtea">
        <ul>
            <li class="a">Central Teacher Eligibility Test (CTET)</li>
            <li class="a">State Teacher Eligibility Test (STET)</li>
            <li class="a">National Eligibility Test (NET) for lectureship and Junior Research Fellowship </li>
          </ul>
    </div>
</div>
<div class="oth">
    <div class="infooth">
        LIST OF OTHER ENTRANCE EXAMS
    </div>
    <div class="'listoth">
        <ul>
            <li class="a">Indian Statistical Institute (ISI) Admission Test</li>
            <li class="a">Indian Council of Agricultural Research (ICAR) AIEEA (All India Entrance Examination for Admission)</li>
            <li class="a">National Entrance Screening Test (NEST) for admission to NISER and UM-DAE CEBS </li>
            <li class="a">GATE (Graduate Aptitude Test in Engineering) for postgraduate admissions in engineering and technology</li>
            <li class="a">Common Proficiency Test (CPT) for entry to Chartered Accountancy course</li>
            <li class="a">National Defense Academy (NDA) Exam</li>
          </ul>
    </div>
</div>

<div class="whydolearn">
    <br>
    <b>WHY DO-LEARN?</b><br>
    <br>
    Do-learn is an excellent platform to try a variety of sources which is currently available for JEE exams.But in future it will be available for other competitive exams.It gives you a oppertunity to a take up quizes, analyze your mistakes and make you perfect.<br>
    <br><b>ABOUT DO-LEARN?</b><br>
    Do-learn is a platform which gives unlimited quiz and study materials for free of cost to benefit the student and help them to succeed in their competitive exams.<br>
    <br>
    Mantra for Success:
    <ul>
        <li class="b">Learn</li>
        <li class="b">Practice</li>
        <li class="b">Test</li>
        <li class="b">Analyze</li>
    </ul>
    Links:
    <ul>
        <a href="https://jeemain.nta.nic.in/" target="_blank">Jee Mains</a><br>
        <a href="https://jeeadv.ac.in/" target="_blank">Jee Advanced</a><br>
        <a href="https://www.bitsadmission.com/" target="_blank">BITSAT</a><br>
        <a href="https://neet.nta.nic.in/" target="_blank">NEET</a><br>
        <a href="https://iimcat.ac.in/per/g01/pub/756/ASM/WebPortal/1/index.html?756@@1@@1" target="_blank">CAT</a><br>
        <a href="https://gate.iitkgp.ac.in/" target="_blank">GATE</a><br>
        <a href=https://nda.nic.in/ target="_blank">NDA</a><br>
        <a href=https://consortiumofnlus.ac.in// target="_blank">CLAT</a><br>
        <a href=https://satsuite.collegeboard.org/sat target="_blank">SAT</a><br>
    </ul>
    Here are the few scholorship exams for students:
    <ul>
        <a href=https://ncert.nic.in/national-talent-examination.php target="_blank">NTSE</a><br>        
        <a href=https://www.aieesesecondary.co.in/ target="_blank">AIEESE (Secondary)</a><br>        
        <a href=https://www.aieeseprimary.co.in/ target="_blank">AIEESE (Primary)</a><br>        
        <a href=https://www.indiantalent.org/ target="_blank">ITO</a><br>
    </ul>

</div>
</body>
</html>